@media (max-width: 575px) {
    .container {
        padding: 0;
    }
    .promo {
        min-height: 400px;
        padding: 0;
        background-position: 25% 10%;
        &__wraper {
            align-items: center;
            margin-top: 50px;
        }
        &__header {
            margin: 0;
            font-size: 26px;
            text-align: center;
        }
        &__subheader {
            margin-top: 0px;
            font-size: 16px;
            text-align: center;
        }
        &__icons {
            margin-top: 20px;
            width: 320px;
        }
        &__icon {
            font-size: 12px;
            line-height: 14px;
            img {
                width: 25px;
                margin-bottom: 10px;
            }
        }
        &__link {
            display: none;
        }
    }
    .advantage {
        padding: 30px;
        &__header {
            margin-top: 5px;
            font-size: 18px;
        }
        &__items {
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }
        &__icon {
            margin-top: 10px;
        }
        &__subheader {
            margin-top: 5px;
        }
        &__descr {
            margin-top: 0;
        }
    }
    .consultation {
        min-height: 400px;
        padding: 40px 0;
        background-position: 45% 0%;
        &__header {
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            br {
                display: none;
            }
        }
        &__subheader {
            font-size: 15px;
            line-height: 18px;
            text-align: center;
        }
    }
    .carousel {
        padding: 20px 0;
        &__inner{
            width: 100%;
            img {
                width: 100%;
            }
        }
        .slick-dots {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
        }
        .slick-dots button {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            border: none;
            background: #eac8be;
            font-size: 0;
            margin: 5px;
        }
        .slick-dots li[class="slick-active"] button {
            background: #555555;
        }
    }
    .catalog {
        padding-bottom: 0;
        &__header {
            margin-bottom: 24px;
            font-size: 20px;
        }
        &__tab{
            margin: 0 3px;
            width: 95px;
            height: 35px;
            div {
                font-size: 10px;
                line-height: 34px;
            }
        }
        &__content {
            margin-top: 30px;
            justify-content: center;
        }
        &-item {
            width: 300px;
            min-height: 365px;
            padding: 10px;
            &__image {
                height: 180px;
            }
            &__title {
                margin-top: 5px;
                font-size: 15px;
            }
            &__descr {
                margin-top: 5px;
                line-height: 15px;
            }
            &__link {
                margin: 10px 0 0 0;
            }
            &__list {
                &__wrap {
                    margin-top: 10px;
                }
                li {
                    font-size: 13px;
                    margin-bottom: 10px;
                }
            }
            &__back {
                bottom: 5px;
            }
            &__footer {
                margin-top: 10px;
            }
            &__price {
                font-size: 17px;
            }
        }
    }
    .reviews {
        padding: 0 10px;
        &__title {
            margin-top: 10px;
            font-size: 22px;
        }
        &__item {
            margin-top: 30px;
            justify-content: center;
            align-items: center;
        }
        &__descr {
            text-align: center;
            margin-left: 0;
        }
    }
    .footer {
        height: 350px;
        iframe {
            height: 350px;
        }
        &__info {
            padding: 20px;
            width: 300px;
            height: 170px;
        }
        &__adr {
            font-size: 16px;
            line-height: 16px;
        }
        &__phone {
            margin-top: 20px;
            position: 18px;
            line-height: 18px;
        }
        &__social {
            margin-top: 25px;
            &-item {
                width: 46px;
                height: 45px;
            }
        }
    }
}