.advantage {
    min-height: 473px;
    padding: 73px 0 65px 0;
    background: #F6F6F6;
    &__header {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #0D0D0D;
    }
    &__items {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 275px;
    }
    &__img {
        display: block;
        margin: 0 auto;
        &_animated {
            animation: heartbeat 1.5s infinite;
        }
    }
    &__subheader {
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        span {
            text-decoration-line: underline;
            color: #FF0000;
        }
    }
}
