* {
  font-family: "Roboto" sans-serif; }

header {
  position: relative; }

nav {
  width: 100%;
  height: 50px;
  background: #212121; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 13px 50px;
  margin: 0 auto; }
  .menu_link {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none; }
  .menu_item {
    border-right: 2px dotted #000000;
    padding-right: 28px; }
    .menu_item:last-child {
      border-right: none; }

.hamburger {
  display: none; }

.subheader {
  position: absolute;
  height: 87px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6); }
  .subheader_logo {
    display: block;
    min-width: 100%;
    margin-top: 17px;
    height: 32px;
    cursor: pointer; }
  .subheader_text {
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    color: #FFFFFF; }
  .subheader_call {
    display: block;
    margin-top: 21px;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF; }
  .subheader_phone {
    display: block;
    font-weight: normal;
    font-size: 22px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF; }
  .subheader_btn {
    margin-top: 21px;
    width: 172px;
    height: 46px;
    background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    cursor: pointer; }
    .subheader_btn:hover {
      background-image: none;
      background-color: #000000; }

.promo {
  height: 850px;
  padding: 200px 0 135px 0;
  background: url("../img/uber_bg.jpg") center center/cover no-repeat; }
  .promo_header {
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF; }
  .promo_subheader {
    margin: 0;
    margin-top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; }
  .promo_descr {
    margin: 0;
    margin-top: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF; }
  .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 115px;
    width: 259px;
    height: 63px;
    background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
            box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21); }
    .promo_btn:hover {
      background-image: none;
      background-color: #000000; }

.reasons {
  padding: 20px 0 65px 0; }
  .reasons_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 35px; }
  .reasons_round {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 25px;
    width: 113px;
    height: 113px;
    background: #1EACC7;
    border-radius: 100%; }
  .reasons_descr {
    width: 371px; }
  .reasons_subtitle {
    line-height: 21px;
    color: #1EACC7;
    font-size: 17px;
    font-weight: 400; }
  .reasons_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px; }

.label {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 115px;
  height: 27px;
  padding: 5px 12px;
  background: #000000;
  font-weight: normal;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF; }
  .label_white {
    background: #FFFFFF;
    color: #070716; }

.title {
  position: relative;
  z-index: 2;
  margin-top: 32px;
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222; }
  .title_white {
    color: #FFFFFF; }

.subtitle {
  position: relative;
  z-index: 2;
  margin-top: 1px;
  font-size: 17px;
  text-align: center;
  color: #222222; }
  .subtitle_white {
    color: #FFFFFF; }

.mobile {
  min-height: 864px;
  background: url("../img/mobile_bg.jpg") center center/cover no-repeat;
  padding: 48px 0 80px 0; }
  .mobile_item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 19px; }
    .mobile_item_1 {
      background: url("../img/card 1.png"); }
    .mobile_item_2 {
      background: url("../img/card 2.png"); }
    .mobile_item_3 {
      background: url("../img/card 3.png"); }
    .mobile_item_4 {
      background: url("../img/card 4.png"); }
    .mobile_item_5 {
      background: url("../img/card 5.png"); }
    .mobile_item_6 {
      background: url("../img/card 6.png"); }
    .mobile_item_subtitle {
      padding-top: 82px;
      font-weight: normal;
      font-size: 24px;
      line-height: 31px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF; }
    .mobile_item_plus {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      bottom: 35px;
      margin: 0 auto;
      padding: 6px;
      width: 29px;
      height: 29px;
      border-radius: 100%;
      background: #000000;
      cursor: pointer; }
      .mobile_item_plus:before {
        content: "";
        display: block;
        width: 14px;
        height: 2px;
        background: #1EACC7; }
      .mobile_item_plus:after {
        content: "";
        display: block;
        width: 2px;
        height: 14px;
        background: #1EACC7;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
      .mobile_item_plus:hover {
        background: #1EACC7; }

.choice {
  min-height: 896px;
  padding: 57px 0 137px 0;
  position: relative;
  background: url("../img/bg_bottom.png") center center/cover no-repeat; }
  .choice_img {
    position: relative;
    display: block;
    margin: 56px auto 0 auto;
    z-index: 2; }
  .choice_descr {
    text-align: center;
    color: #222222;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px; }
  .choice .black {
    position: absolute;
    left: 0;
    top: 0;
    height: 499px;
    width: 100%;
    background-color: #070716;
    z-index: 1; }

.condition {
  padding: 66px 0 87px 0; }
  .condition_block {
    margin: 32px 0; }
    .condition_block_mbn {
      margin-bottom: 0px; }
  .condition_title {
    margin-bottom: 10px;
    font-size: 22px;
    color: #1CA8C3; }
  .condition_list {
    padding-left: 50px;
    margin-bottom: 0px;
    list-style-type: none; }
    .condition_list li {
      font-weight: 300;
      font-size: 17px;
      line-height: 24px;
      position: relative;
      margin-bottom: 7px; }
      .condition_list li:before {
        content: "";
        display: block;
        position: absolute;
        left: -32px;
        top: 3px;
        height: 20px;
        width: 21px;
        background: url("../icon/check_blue 1.png") center center/cover no-repeat; }
  .condition_descr {
    margin-top: 20px;
    font-weight: 300;
    font-size: 17px;
    color: #1CA8C3; }
  .condition .red .condition_title {
    color: #FF5656; }
  .condition .red .condition_list li:before {
    background: url("../icon/check_red 1.png") center center/cover no-repeat; }

.world {
  position: relative;
  min-height: 720px;
  background: url("../img/world.png") center center/cover no-repeat;
  padding: 46px 0 60px 0; }
  .world_all {
    position: relative;
    z-index: 2;
    display: block;
    margin-top: 560px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #1FBAD6; }

.footer {
  position: relative;
  padding: 14px 23px 39px 23px; }
  .footer_divider {
    display: block;
    margin: 12px auto;
    width: 301px;
    height: 7px;
    background: #1FBAD6; }
  .footer_social {
    width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer_social_item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 4px;
      width: 32px;
      height: 32px;
      background-color: #070716;
      border-radius: 100%; }
  .footer_links {
    width: 390px;
    margin: 0 auto; }
    .footer_links_main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 0 10px; }
      .footer_links_main a {
        font-weight: 300;
        font-size: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #070716; }
    .footer_links_sub {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 10px; }
      .footer_links_sub a {
        color: #999999;
        font-size: 11px;
        font-weight: 300;
        text-transform: uppercase; }
  .footer_lang {
    display: block;
    margin: 0 auto;
    color: #1fbad6;
    font-size: 11px;
    font-weight: 400;
    margin-top: 19px;
    text-transform: uppercase;
    text-align: center; }
  .footer_mobile {
    position: absolute;
    top: 45px;
    right: 40px; }

.xs-visible {
  display: none; }

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px; }
  .menu_link {
    font-size: 13px; }

  .promo_header {
    font-size: 50px; }
  .promo_subheader {
    font-size: 30px; }

  .reasons_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .reasons_descr {
    witdh: 300px; }

  .mobile_item {
    width: 300px; }

  .footer_mobile {
    width: 120px; }
    .footer_mobile img {
      margin-top: 10px; } }
@media (max-width: 991px) {
  .menu {
    padding: 13px 70px; }
    .menu_item {
      padding-right: 12px; }
    .menu_link {
      font-size: 10px; }

  .subheader {
    height: 79px; }
    .subheader_logo img {
      width: 100%; }
    .subheader_text {
      font-size: 11px; }
    .subheader_call {
      font-size: 11px; }
    .subheader_phone {
      font-size: 20px; }
    .subheader_btn {
      width: 130px;
      height: 40px;
      margin-top: 24px;
      font-size: 11px; }

  .promo_header {
    font-size: 36px;
    line-height: 36px; }
  .promo_subheader {
    font-size: 22px;
    line-height: 22px; }
  .promo_descr {
    font-size: 16px;
    line-height: 22px; }
  .promo_btn {
    width: 244px;
    height: 55px; }

  .reasons h2 {
    font-size: 32px; }
  .reasons_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .reasons_block_round {
      margin-right: 0; }
  .reasons_descr {
    margin-top: 10px;
    width: 300px; }

  .mobile .title {
    font-size: 32px; }
  .mobile .subtitle {
    font-size: 14px; }
  .mobile_item {
    width: 225px;
    height: 240px; }
    .mobile_item_subtitle {
      font-size: 18px; }

  .choice .title_white {
    font-size: 32px; }
  .choice_img {
    width: inherit; }

  .condition .title {
    font-size: 32px; }
  .condition_block {
    margin: 25px 0; }
  .condition_title {
    font-size: 19px; }
  .condition_list li {
    font-size: 15px;
    line-height: 20px; }
  .condition_descr {
    margin-top: 14px;
    font-size: 15px; }

  .world .title_white {
    font-size: 32px; }

  .footer_social {
    width: 120px; }
    .footer_social_item {
      margin: -1px 0px;
      width: 27px;
      height: 27px; }
  .footer_links {
    width: 355px; }
    .footer_links_main a {
      font-size: 14px; }
    .footer_links_sub a {
      font-size: 10px; }
  .footer_mobile {
    width: 95px; }
    .footer_mobile img {
      margin-top: 5px; } }
@media (max-width: 767px) {
  .menu {
    z-index: 2;
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    left: -100%;
    top: 0;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.6s all;
    transition: 0.6s all; }
    .menu_active {
      left: 0; }
    .menu_item {
      padding-right: 0;
      border: none;
      text-align: center;
      margin: 10px 0; }
    .menu_link {
      font-size: 20px; }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px; }
    .hamburger span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #fff;
      margin-bottom: 2px;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    .hamburger_active span {
      margin-bottom: -2px; }
      .hamburger_active span:nth-child(1) {
        -webkit-transform: translateY(3px) rotate(-45deg);
                transform: translateY(3px) rotate(-45deg); }
      .hamburger_active span:nth-child(2) {
        display: none; }
      .hamburger_active span:nth-child(3) {
        -webkit-transform: translateY(3px) rotate(45deg);
                transform: translateY(3px) rotate(45deg); }

  .xs-hidden {
    display: none; }

  .xs-visible {
    display: block; }

  .subheader_phone {
    display: block;
    text-align: center;
    font-size: 18px;
    margin-top: 5px; }
  .subheader_btn {
    display: block;
    width: 170px;
    margin-top: 5px;
    margin: 0 auto; }

  .promo_header {
    font-size: 33px; }
  .promo_btn {
    width: 230px;
    height: 50px; }

  .reasons .title {
    font-size: 26px;
    margin-top: 20px; }

  .mobile .title {
    font-size: 27px;
    margin-top: 20px; }
  .mobile_item {
    width: 240px;
    margin-top: 20px; }

  .choice {
    min-height: 775px; }
    .choice .title_white {
      font-size: 27px; }

  .condition .title {
    font-size: 27px;
    margin-top: 20px; }
  .condition_block {
    font-size: 15px;
    margin: 15px 0; }

  .footer_divider {
    margin: 8px auto;
    height: 4px;
    width: 260px; }
  .footer_social {
    width: 95px; }
    .footer_social_item {
      width: 22px;
      height: 22px; }
  .footer_links {
    width: 300px; }
    .footer_links_main a {
      font-size: 12px; }
    .footer_links_sub {
      margin-top: 8px; }
      .footer_links_sub a {
        font-size: 8px; }
    .footer_links_lang {
      margin-top: 10px; }
      .footer_links_lang a {
        font-size: 10px; }
  .footer_mobile {
    width: 110px;
    top: 40px;
    right: 0px; }
    .footer_mobile img {
      -webkit-transform: scaleX(0.6) scaleY(0.6);
              transform: scaleX(0.6) scaleY(0.6);
      margin-top: -15px; } }
@media (max-width: 575px) {
  nav {
    height: 32px; }

  .menu {
    z-index: 3;
    width: 75%;
    margin: 6px 0; }

  .subheader {
    height: 62px; }
    .subheader_text {
      display: none; }
    .subheader_phone {
      margin-top: 9px;
      font-size: 12px; }
    .subheader_btn {
      margin-top: 3px;
      font-size: 10px;
      width: 110px;
      height: 22px; }

  .promo {
    height: 400px;
    padding: 102px 0px 34px 0px; }
    .promo_header {
      font-size: 30px;
      line-height: 35px; }
    .promo_subheader {
      margin-top: 33px;
      font-size: 20px;
      line-height: 23px; }
    .promo_descr {
      display: none; }
    .promo_btn {
      margin-top: 65px;
      width: 210px;
      height: 50px;
      font-size: 16px; }

  .reasons {
    padding: 20px 0 36px 0; }
    .reasons .title {
      margin-top: 16px;
      font-size: 15px; }
    .reasons_block {
      margin-top: 22px; }
    .reasons_round {
      width: 100px;
      height: 100px; }
    .reasons_descr {
      width: 100%;
      margin-top: 24px; }
    .reasons_subtitle {
      font-size: 16px; }

  .mobile {
    padding: 25px 0 20px 0; }
    .mobile .title {
      margin-top: 16px;
      font-size: 16px; }
    .mobile .subtitle {
      margin-top: 9px;
      font-size: 14px;
      line-height: 21px; }
    .mobile_item {
      margin-top: 30px;
      width: 290px;
      height: 254px; }

  .choice {
    min-height: 393px;
    background: #070716;
    padding: 24px 0 31px 0; }
    .choice .title {
      display: none; }
    .choice .subtitle {
      display: none; }
    .choice .black {
      display: none; }
    .choice_descr {
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF; }

  .condition {
    padding: 22px 0 30px 0; }
    .condition .title {
      margin-top: 16px;
      font-size: 16px; }
    .condition_block {
      margin: 5px 0; }
    .condition_title {
      margin-bottom: 5px;
      margin-top: 25px;
      font-size: 16px; }
    .condition_list {
      padding-left: 32px; }
      .condition_list li {
        margin-bottom: 1px;
        font-size: 14px; }

  .world {
    padding: 24px 0 30px 0; }
    .world .title {
      margin-top: 16px;
      font-size: 16px; }
    .world .subtitle {
      margin-top: 12px;
      font-size: 14px;
      line-height: 0; }

  .footer_divider {
    width: 253px;
    height: 4px; }
  .footer_links {
    width: 300px; }
  .footer_main a {
    font-size: 15px; }
  .footer_sub {
    width: 320px; }
    .footer_sub a {
      font-size: 10px; }
  .footer_lang {
    margin-top: 10px; }
  .footer_social {
    width: 150px;
    margin: 10px auto; }
    .footer_social_item {
      width: 24px;
      height: 24px; }
  .footer_mobile {
    width: 300px;
    top: 135px; }
    .footer_mobile img {
      -webkit-transform: scaleX(0.7) scaleY(0.7);
              transform: scaleX(0.7) scaleY(0.7);
      margin: 0 -15px; } }

/*# sourceMappingURL=style.css.map */